header {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
  padding: 0 3rem;

  h1 {
    font-size: 32.67px;
    color: #DDB474;
  }

  nav {
    display: flex;
    gap: 150px;
  }

  ul {
    display: flex;
    gap: 20px;
    list-style-type: none ;
  }

  a {
    text-decoration: none;
    color: #DDB474;
  }

  .btn-header {
    background-color: #DDB474;
    color: black;
    padding: 10px 30px;
  }
}